In [7]:
zip_url = "https://www.fec.gov/files/bulk-downloads/2020/oppexp20.zip"
base_folder_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/"
file_name = "operating_Expense"
header_url = "https://www.fec.gov/files/bulk-downloads/data_dictionaries/oppexp_header_file.csv"

In [8]:
import os
import zipfile
import requests
import pandas as pd
from Logger import logger
from get_header_via_api import header_details

In [9]:
logger.info(f"Starting full process for {file_name}")

# Define and create the base directory (file_name folder)
file_folder = os.path.join(base_folder_path, file_name)
os.makedirs(file_folder, exist_ok=True)

# Set ZIP file path directly inside file_name folder
zip_path = os.path.join(file_folder, f"{file_name}.zip")

In [10]:
# Download ZIP
response = requests.get(zip_url, stream=True)
response.raise_for_status()
with open(zip_path, "wb") as file:
    for chunk in response.iter_content(chunk_size=8192):
        file.write(chunk)

logger.info(f"ZIP file saved at {zip_path}")

In [11]:
# Extract ZIP to the same folder
with zipfile.ZipFile(zip_path, "r") as zip_ref:
    zip_ref.extractall(file_folder)

logger.info(f"ZIP file extracted to {file_folder}")

In [12]:
# Locate .txt file
extracted_files = os.listdir(file_folder)
txt_files = [f for f in extracted_files if f.endswith(".txt")]
if not txt_files:
    logger.error(f"No .txt file found in {file_folder}")

In [13]:
extracted_files

['operating_Expense.zip', 'oppexp.txt']

In [14]:
file_folder

'D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/operating_Expense'

In [ ]:
txt_file_path = os.path.join(file_folder, txt_files[0])

# Get header from API
header = header_details(header_url, base_folder_path, file_name)

# Convert TXT to CSV
df = pd.read_(txt_file_path, names=header, delimiter="|", dtype=str).reset_index()
csv_file_path = os.path.join(file_folder, f"{file_name}.csv")
df.to_csv(csv_file_path, index=False)

In [28]:
header

['CMTE_ID',
 'AMNDT_IND',
 'RPT_YR',
 'RPT_TP',
 'IMAGE_NUM',
 'LINE_NUM',
 'FORM_TP_CD',
 'SCHED_TP_CD',
 'NAME',
 'CITY',
 'STATE',
 'ZIP_CODE',
 'TRANSACTION_DT',
 'TRANSACTION_AMT',
 'TRANSACTION_PGI',
 'PURPOSE',
 'CATEGORY',
 'CATEGORY_DESC',
 'MEMO_CD',
 'MEMO_TEXT',
 'ENTITY_TP',
 'SUB_ID',
 'FILE_NUM',
 'TRAN_ID',
 'BACK_REF_TRAN_ID']

In [27]:
df

,index,CMTE_ID,AMNDT_IND,RPT_YR,RPT_TP,IMAGE_NUM,LINE_NUM,FORM_TP_CD,SCHED_TP_CD,NAME,...,PURPOSE,CATEGORY,CATEGORY_DESC,MEMO_CD,MEMO_TEXT,ENTITY_TP,SUB_ID,FILE_NUM,TRAN_ID,BACK_REF_TRAN_ID
0,C00639872,T,2019,TER,201901209143894009,17,F3,SB,ADMINISTRATIVE BUSINESS SERVICES,CHARLOTTE,...,NaN,NaN,NaN,NaN,ORG,4021520191639587673,1305744,VTPY09W3DX1,NaN,NaN
1,C00639872,T,2019,TER,201901209143894009,17,F3,SB,ADP INC,ROSELAND,...,NaN,NaN,NaN,NaN,ORG,4021520191639587675,1305744,VTPY09W2JW7,NaN,NaN
2,C00639872,T,2019,TER,201901209143894009,17,F3,SB,HUSTLE INC,SAN FRANCISCO,...,NaN,NaN,NaN,NaN,ORG,4021520191639587677,1305744,VTPY09W2KA8,NaN,NaN
3,C00639872,T,2019,TER,201901209143894010,17,F3,SB,NGP VAN INC.,WASHINGTON,...,NaN,NaN,NaN,NaN,ORG,4021520191639587679,1305744,VTPY09W3DV6,NaN,NaN
4,C00432906,T,2019,TER,201901219143901217,17,F3,SB,ELECTEK USA,CHAGRIN FALLS,...,001,Administrative/Salary/Overhead Expenses,NaN,NaN,ORG,4021320191639407447,1305860,SB17.55757,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310519,C00004036,N,2020,YE,202101319424718017,21B,F3X,SB,SEIU HEALTHCARE PA,HARRISBURG,...,NaN,NaN,NaN,NaN,ORG,4020620211121608649,1497434,D387371,NaN,NaN
2310520,C00004036,N,2020,YE,202101319424718018,21B,F3X,SB,"SEIU-CC, LLC",NEW YORK,...,NaN,NaN,NaN,NaN,ORG,4020620211121608650,1497434,D387327,NaN,NaN
2310521,C00004036,N,2020,YE,202101319424718018,21B,F3X,SB,SOUTHERN REGIONAL JOINT BOARD,UNION CITY,...,NaN,NaN,NaN,NaN,ORG,4020620211121608651,1497434,D387306,NaN,NaN
2310522,C00004036,N,2020,YE,202101319424718018,21B,F3X,SB,SOUTHERN REGIONAL JOINT BOARD,UNION CITY,...,NaN,NaN,NaN,NaN,ORG,4020620211121608652,1497434,D387330,NaN,NaN
2310523,C00004036,N,2020,YE,202101319424718019,21B,F3X,SB,TARGETSMART COMMUNICATIONS LLC,WASHINGTON,...,NaN,NaN,NaN,NaN,ORG,4020620211121608653,1497434,D387361,NaN,NaN

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

# Create Spark session
spark = SparkSession.builder /
    .appName("Sample Pipe-Delimited TXT") /
    .master("local[*]") /
    .config("spark.driver.bindAddress", "127.0.0.1") /
    .config("spark.driver.host", "127.0.0.1") /
    .getOrCreate()

In [37]:
headers[0:]

['CMTE_ID',
 'AMNDT_IND',
 'RPT_YR',
 'RPT_TP',
 'IMAGE_NUM',
 'LINE_NUM',
 'FORM_TP_CD',
 'SCHED_TP_CD',
 'NAME',
 'CITY',
 'STATE',
 'ZIP_CODE',
 'TRANSACTION_DT',
 'TRANSACTION_AMT',
 'TRANSACTION_PGI',
 'PURPOSE',
 'CATEGORY',
 'CATEGORY_DESC',
 'MEMO_CD',
 'MEMO_TEXT',
 'ENTITY_TP',
 'SUB_ID',
 'FILE_NUM',
 'TRAN_ID',
 'BACK_REF_TRAN_ID']

In [38]:
# File path
file_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/operating_Expense/oppexp.txt"

# Load headers from Excel
headers_excel_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/operating_Expense/operating_Expense.csv"
headers = pd.read_csv(headers_excel_path).columns.tolist()

# Read the txt file (pipe-delimited)
df = spark.read.text(file_path)

# Apply the custom header
df_with_headers = df.toDF(*headers[0:])

# Sample 10% of the rows
sample_df = df_with_headers.sample(withReplacement=False, fraction=0.1, seed=42)

# Show sample
sample_df.show(5)

C:\Users\mdsoh\AppData\Local\Temp\ipykernel_27500\1328864277.py:6: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  headers = pd.read_csv(headers_excel_path).columns.tolist()

IllegalArgumentException: requirement failed: The number of columns doesn't match.
Old column names (1): value
New column names (25): CMTE_ID, AMNDT_IND, RPT_YR, RPT_TP, IMAGE_NUM, LINE_NUM, FORM_TP_CD, SCHED_TP_CD, NAME, CITY, STATE, ZIP_CODE, TRANSACTION_DT, TRANSACTION_AMT, TRANSACTION_PGI, PURPOSE, CATEGORY, CATEGORY_DESC, MEMO_CD, MEMO_TEXT, ENTITY_TP, SUB_ID, FILE_NUM, TRAN_ID, BACK_REF_TRAN_ID

In [ ]:
# Get header from API
header = header_details(header_url, base_folder_path, file_name)  # assume this returns a list of column names

# Load TXT as DataFrame using PySpark
df_spark = spark.read.option("delimiter", "|") /
                     .option("inferSchema", "false") /
                     .option("header", "false") /
                     .csv(txt_file_path)

# Apply column names
df_spark = df_spark.toDF(*header)

# Write to CSV
csv_file_path = os.path.join(file_folder, "output.csv")
df_spark.write.option("header", True).csv(csv_file_path, mode="overwrite")

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

# Create Spark session
spark = SparkSession.builder /
    .appName("Sample Pipe-Delimited TXT") /
    .master("local[*]") /
    .config("spark.driver.bindAddress", "127.0.0.1") /
    .config("spark.driver.host", "127.0.0.1") /
    .getOrCreate()

# File path
file_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/individual_contribution/itcont.txt"

# Load headers from Excel
headers_excel_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/individual_contribution/indiv_header_file.csv"
headers = pd.read_csv(headers_excel_path).columns.tolist()

# Read the txt file (pipe-delimited)
df = spark.read.option("delimiter", "|").option("header", "false").csv(file_path)

# Apply the custom header
df_with_headers = df.toDF(*headers)

# Sample 10% of the rows
sample_df = df_with_headers.sample(withReplacement=False, fraction=0.1, seed=42)

# Show sample
sample_df.show(5)

+---------+---------+------+---------------+------------------+--------------+---------+---------------+------------+-----+--------+------------------+----------+--------------+---------------+--------+-------------+--------+-------+---------+-------------------+
|  CMTE_ID|AMNDT_IND|RPT_TP|TRANSACTION_PGI|         IMAGE_NUM|TRANSACTION_TP|ENTITY_TP|           NAME|        CITY|STATE|ZIP_CODE|          EMPLOYER|OCCUPATION|TRANSACTION_DT|TRANSACTION_AMT|OTHER_ID|      TRAN_ID|FILE_NUM|MEMO_CD|MEMO_TEXT|             SUB_ID|
+---------+---------+------+---------------+------------------+--------------+---------+---------------+------------+-----+--------+------------------+----------+--------------+---------------+--------+-------------+--------+-------+---------+-------------------+
|C00618371|        A|    Q3|              P|202102099427331574|           15E|      IND| FLANNER, GREGG|     TRENTON|   NJ|   08601|FLANNER ASSOCIATES|   MFG REP|      09082020|             25|    NULL|SA11AI.478137| 1499308|   NULL|     NULL|4022220211161795305|
|C00618371|        A|    Q3|              P|202102099427335989|           15E|      IND|   FRAME, ELENA|      WALNUT|   CA|   91788|           RETIRED|   RETIRED|      09062020|            100|    NULL|SA11AI.493971| 1499308|   NULL|     NULL|4022220211161808548|
|C00618371|        A|    Q3|              P|202102099427328893|           15E|      IND|FIELDS, NICHOLE|   MILWAUKEE|   WI|   53224|      LUTHER MANOR|        RN|      09052020|             42|    NULL|SA11AI.468641| 1499308|   NULL|     NULL|4022220211161787261|
|C00618371|        A|    Q3|              P|202102099427238723|           15E|      IND|    BOOTH, JING|    SAN JOSE|   CA|   95101|     SELF-EMPLOYED|  ENGINEER|      09092020|             50|    NULL|SA11AI.146962| 1499308|   NULL|     NULL|4022220211161515751|
|C00618371|        A|    Q3|              P|202102099427336112|           15E|      IND|FRANCIS, CHERYL|DOUGLASVILLE|   GA|   30133|           RETIRED|   RETIRED|      09042020|             20|    NULL|SA11AI.494402| 1499308|   NULL|     NULL|4022220211161808917|
+---------+---------+------+---------------+------------------+--------------+---------+---------------+------------+-----+--------+------------------+----------+--------------+---------------+--------+-------------+--------+-------+---------+-------------------+
only showing top 5 rows

In [19]:
sample_count = sample_df.count()
print(f"Number of rows in sample_df: {sample_count}")

Number of rows in sample_df: 6938128

In [20]:
spark.stop()

In [1]:
# operating expense

zip_url = "https://www.fec.gov/files/bulk-downloads/2020/oppexp20.zip"
raw_folder_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/"
file_name = "operating_Expense"
header_url = "https://www.fec.gov/files/bulk-downloads/data_dictionaries/oppexp_header_file.csv"
# zip_path = download_data(zip_url, raw_folder_path,file_name)
# print(zip_path)

In [2]:
from data_ingestion import download_and_process_data
zip_file_name = "candidate_master.zip"
download_and_process_data(zip_url, file_name, raw_folder_path, header_url)

{'zip_path': 'D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/operating_Expense\\operating_Expense.zip',
 'csv_path': 'D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/1/operating_Expense\\operating_Expense.csv'}

In [6]:
chunk_size = 1000000
chunks = pd.read_csv(file_path, chunksize=chunk_size, delimiter="|", dtype=str,on_bad_lines='skip')

for i, chunk in enumerate(chunks):
    print(f'Chunk {i} has shape: {chunk.shape}')

Chunk 0 has shape: (1000000, 21)
Chunk 1 has shape: (1000000, 21)
Chunk 2 has shape: (1000000, 21)
Chunk 3 has shape: (1000000, 21)
Chunk 4 has shape: (1000000, 21)
Chunk 5 has shape: (1000000, 21)
Chunk 6 has shape: (1000000, 21)
Chunk 7 has shape: (1000000, 21)
Chunk 8 has shape: (1000000, 21)
Chunk 9 has shape: (1000000, 21)
Chunk 10 has shape: (1000000, 21)
Chunk 11 has shape: (1000000, 21)
Chunk 12 has shape: (1000000, 21)
Chunk 13 has shape: (1000000, 21)
Chunk 14 has shape: (1000000, 21)
Chunk 15 has shape: (1000000, 21)
Chunk 16 has shape: (1000000, 21)
Chunk 17 has shape: (1000000, 21)
Chunk 18 has shape: (1000000, 21)
Chunk 19 has shape: (1000000, 21)
Chunk 20 has shape: (1000000, 21)
Chunk 21 has shape: (1000000, 21)
Chunk 22 has shape: (1000000, 21)
Chunk 23 has shape: (1000000, 21)
Chunk 24 has shape: (1000000, 21)
Chunk 25 has shape: (1000000, 21)
Chunk 26 has shape: (1000000, 21)
Chunk 27 has shape: (1000000, 21)
Chunk 28 has shape: (1000000, 21)
Chunk 29 has shape: (1000000, 21)
Chunk 30 has shape: (1000000, 21)
Chunk 31 has shape: (1000000, 21)
Chunk 32 has shape: (1000000, 21)
Chunk 33 has shape: (1000000, 21)
Chunk 34 has shape: (1000000, 21)
Chunk 35 has shape: (1000000, 21)
Chunk 36 has shape: (1000000, 21)
Chunk 37 has shape: (1000000, 21)
Chunk 38 has shape: (1000000, 21)
Chunk 39 has shape: (1000000, 21)
Chunk 40 has shape: (1000000, 21)
Chunk 41 has shape: (1000000, 21)
Chunk 42 has shape: (1000000, 21)
Chunk 43 has shape: (1000000, 21)
Chunk 44 has shape: (1000000, 21)
Chunk 45 has shape: (1000000, 21)
Chunk 46 has shape: (1000000, 21)
Chunk 47 has shape: (1000000, 21)
Chunk 48 has shape: (1000000, 21)
Chunk 49 has shape: (1000000, 21)
Chunk 50 has shape: (1000000, 21)
Chunk 51 has shape: (1000000, 21)
Chunk 52 has shape: (1000000, 21)
Chunk 53 has shape: (1000000, 21)
Chunk 54 has shape: (1000000, 21)
Chunk 55 has shape: (1000000, 21)
Chunk 56 has shape: (1000000, 21)
Chunk 57 has shape: (1000000, 21)
Chunk 58 has shape: (1000000, 21)
Chunk 59 has shape: (1000000, 21)
Chunk 60 has shape: (1000000, 21)
Chunk 61 has shape: (1000000, 21)
Chunk 62 has shape: (1000000, 21)
Chunk 63 has shape: (1000000, 21)
Chunk 64 has shape: (1000000, 21)
Chunk 65 has shape: (1000000, 21)
Chunk 66 has shape: (1000000, 21)
Chunk 67 has shape: (1000000, 21)
Chunk 68 has shape: (1000000, 21)
Chunk 69 has shape: (271358, 21)

In [12]:
chunk.head()

,C00618371,A,Q3,P,202102099427337518,15E,IND,"FREED, MARIANNE",EASTON,PA,...,SELF-EMPLOYED,CAREGIVER,09112020,45,Unnamed: 15,SA11AI.499487,1499308,Unnamed: 18,Unnamed: 19,4022220211161813137
69000000,C00177469,N,M5,P,201905169149720935,15,IND,"REDMOND, JANET",SAN FRANCISCO,CA,...,PACIFIC GAS AND ELECTRIC COMPANY,BENEFITS CONSULT,04232019,76,NaN,INCA313431,1331148,NaN,NaN,4051720191657052943
69000001,C00177469,N,M5,P,201905169149720936,15,IND,"REEVES, PATRICK",SANTA ROSA,CA,...,PACIFIC GAS AND ELECTRIC COMPANY,IT PRODUCT MANAG,04232019,58,NaN,INCA313433,1331148,NaN,NaN,4051720191657052945
69000002,C00083535,N,M5,P,201905179149735116,15,IND,"RUBANO, CHARLENE R MS.",LONGWOOD,FL,...,"DUKE ENERGY FLORIDA, LLC",MGR II TRANSMISSION ENGG,04302019,59,NaN,PR1938103249041,1331371,NaN,P/R DEDUCTION ($59.64 MONTHLY),4051820191657078841
69000003,C00083535,N,M5,P,201905179149735115,15,IND,"LUHRS, MICHAEL MR.",WAXHAW,NC,...,"DUKE ENERGY CAROLINAS, LLC",VP MARKET SOLUTIONS & INNOVATION,04302019,214,NaN,PR1938100049041,1331371,NaN,P/R DEDUCTION ($214.76 MONTHLY),4051820191657078835
69000004,C00083535,N,M5,P,201905179149735115,15,IND,"GRAVES, VAKESIA MS.",RALEIGH,NC,...,"DUKE ENERGY PROGRESS, LLC",DIR BUS STRATEGY&NATL ACCOUNTS,04302019,66,NaN,PR1938100849041,1331371,NaN,P/R DEDUCTION ($66.02 MONTHLY),4051820191657078837

In [ ]:
import pandas as pd

def read_fec_file(filepath):
    f3xn_records = []
    sb23_records = []

    with open(filepath, 'r', encoding='utf-8') as file:
        for line in file:
            line = line.strip()
            if line.startswith("F3XN"):
                f3xn_records.append(line.split(','))
            elif line.startswith("SB23"):
                sb23_records.append(line.split(','))
            else:
                continue  # skip header lines and unknowns

    # Optional: Convert to DataFrames
    f3xn_df = pd.DataFrame(f3xn_records)
    sb23_df = pd.DataFrame(sb23_records)

    return f3xn_df, sb23_df

In [16]:
file_path = "C:/Users/mdsoh/Downloads/20001015/7152.fec"
df1,df2 = read_fec_file(file_path)

In [17]:
df1

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,F3XN,C00331306,"""Georgia Peach PAC","Inc.""",1073 West Peachtree Street,c/o Richard Kopelman,Atllanta,GA,30309,,...,6672.22,6672.22,1325.00,0.00,1325.00,172.22,0.00,172.22,Kopelman^Richard^Mr.,20001015

In [18]:
df2

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,SB23 = 00006,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,SB23,C00331306,CAN,FRIENDS OF FRANK WOLF,PO BOX 6596,,MCLEAN,VA,22106,,...,,,,,,,,,A,SB23.434
2,SB23,C00331306,CAN,SPRATT FOR CONGRESS COMMITTEE,PO BOX 830,,YORK,SC,29745,,...,,,,,,,,,A,SB23.435
3,SB23,C00331306,CAN,JO ANN DAVIS FOR CONGRESS,4904B GEORGE WASHINGTON MEM HWY,,YORKTOWN,VA,23692,,...,,,,,,,,,A,SB23.437
4,SB23,C00331306,CAN,NELSON 2000,1915 NORTH 121ST STREET SUITE B,SUITE B,OMAHA,NE,68154,,...,,,,,,,,,A,SB23.436
5,SB23,C00331306,CAN,NETHERCUTT FOR CONGRESS '2000,PO BOX 1925,,SPOKANE,WA,99201,,...,,,,,,,,,A,SB23.439
6,SB23,C00331306,CAN,PERRY^PAUL E,3144 VALLEYBROOK CT,,NEWBURGH,IN,47630,,...,,,,,,,,,A,SB23.438

In [19]:
data = """/* Header
FEC_Ver_# = 2.02
Soft_Name = FECfile
Soft_Ver# = 3
Dec/NoDec = DEC
Date_Fmat = CCYYMMDD
NameDelim = ^
Form_Name = F3XN
FEC_IDnum = C00331306
Committee = Georgia Peach PAC, Inc.
Control_# = L922896W
Schedule_Counts:
SB23      = 00006
/* End Header
F3XN,C00331306,"Georgia Peach PAC, Inc.",1073 West Peachtree Street,c/o Richard Kopelman,Atllanta,GA,30309,,X,Q3,,,,20000701,20000930,27752.61,0.00,27752.61,4040.51,23712.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,40.51,40.51,0.00,4000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4040.51,4040.51,0.00,0.00,0.00,40.51,0.00,40.51,28059.32,2000,2325.00,30384.32,6672.22,23712.10,1100.00,225.00,1325.00,0.00,0.00,1325.00,0.00,0.00,0.00,0.00,1000.00,0.00,0.00,2325.00,2325.00,0.00,0.00,172.22,172.22,0.00,6500.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6672.22,6672.22,1325.00,0.00,1325.00,172.22,0.00,172.22,Kopelman^Richard^Mr.,20001015
SB23,C00331306,CAN,FRIENDS OF FRANK WOLF,PO BOX 6596,,MCLEAN,VA,22106,,,G,,20000828,500.00,C00166017,H6VA10050,,H,VA,10,,,,,,,,,A,SB23.434
SB23,C00331306,CAN,SPRATT FOR CONGRESS COMMITTEE,PO BOX 830,,YORK,SC,29745,,,G,,20000830,1000.00,C00155796,H2SC05052,,H,SC,05,,,,,,,,,A,SB23.435
SB23,C00331306,CAN,JO ANN DAVIS FOR CONGRESS,4904B GEORGE WASHINGTON MEM HWY,,YORKTOWN,VA,23692,,,G,,20000914,500.00,C00354001,H0VA01052,,H,VA,01,,,,,,,,,A,SB23.437
SB23,C00331306,CAN,NELSON 2000,1915 NORTH 121ST STREET SUITE B,SUITE B,OMAHA,NE,68154,,General,G,,20000914,1000.00,C00306712,S6NE00095,,S,NE,00,,,,,,,,,A,SB23.436
SB23,C00331306,CAN,NETHERCUTT FOR CONGRESS '2000,PO BOX 1925,,SPOKANE,WA,99201,,,G,,20000914,500.00,C00328948,H4WA05028,,H,WA,05,,,,,,,,,A,SB23.439
SB23,C00331306,CAN,PERRY^PAUL E,3144 VALLEYBROOK CT,,NEWBURGH,IN,47630,,,G,,20000914,500.00,C00345819,H0IN08072,,H,IN,08,,,,,,,,,A,SB23.438
"""

In [ ]:
import pandas as pd
from io import StringIO
import csv

# Sample data (replace with your actual data loading method)
#data = """[Your provided data here]"""

# Split data into lines
lines = data.split('/n')

# Find header end index
header_end = next(i for i, line in enumerate(lines) if '/* End Header' in line)

# Process body lines (after header)
body_lines = [line.strip() for line in lines[header_end+1:] if line.strip()]

# Separate F3XN and SB23 records
f3xn_data = []
sb23_data = []

for line in body_lines:
    if line.startswith('F3XN'):
        f3xn_data.append(line)
    elif line.startswith('SB23'):
        sb23_data.append(line)

# Function to parse CSV-like data with proper quoting
def parse_to_dataframe(lines):
    csv_reader = csv.reader(lines, delimiter=',', quotechar='"')
    return pd.DataFrame([row for row in csv_reader])

# Parse F3XN records
f3xn_df = parse_to_dataframe(f3xn_data)

# Parse SB23 records
sb23_df = parse_to_dataframe(sb23_data)

# Display results
print("F3XN DataFrame:")
print(f3xn_df.head())

print("/nSB23 DataFrame:")
print(sb23_df.head())

F3XN DataFrame:
    0          1                        2                           3    \
0  F3XN  C00331306  Georgia Peach PAC, Inc.  1073 West Peachtree Street

                    4         5   6      7   8   9    ...      97       98   \
0  c/o Richard Kopelman  Atllanta  GA  30309       X  ...  6672.22  6672.22

       99    100      101     102   103     104                   105  \
0  1325.00  0.00  1325.00  172.22  0.00  172.22  Kopelman^Richard^Mr.

        106
0  20001015

[1 rows x 107 columns]

SB23 DataFrame:
     0          1    2                              3   \
0  SB23  C00331306  CAN          FRIENDS OF FRANK WOLF
1  SB23  C00331306  CAN  SPRATT FOR CONGRESS COMMITTEE
2  SB23  C00331306  CAN      JO ANN DAVIS FOR CONGRESS
3  SB23  C00331306  CAN                    NELSON 2000
4  SB23  C00331306  CAN  NETHERCUTT FOR CONGRESS '2000

                                4        5         6   7      8  9   ... 21  \
0                      PO BOX 6596             MCLEAN  VA  22106     ...
1                       PO BOX 830               YORK  SC  29745     ...
2  4904B GEORGE WASHINGTON MEM HWY           YORKTOWN  VA  23692     ...
3  1915 NORTH 121ST STREET SUITE B  SUITE B     OMAHA  NE  68154     ...
4                      PO BOX 1925            SPOKANE  WA  99201     ...

  22 23 24 25 26 27 28 29        30
0                       A  SB23.434
1                       A  SB23.435
2                       A  SB23.437
3                       A  SB23.436
4                       A  SB23.439

[5 rows x 31 columns]

In [21]:
f3xn_df

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,F3XN,C00331306,"Georgia Peach PAC, Inc.",1073 West Peachtree Street,c/o Richard Kopelman,Atllanta,GA,30309,,X,...,6672.22,6672.22,1325.00,0.00,1325.00,172.22,0.00,172.22,Kopelman^Richard^Mr.,20001015

In [22]:
sb23_df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,SB23,C00331306,CAN,FRIENDS OF FRANK WOLF,PO BOX 6596,,MCLEAN,VA,22106,,...,,,,,,,,,A,SB23.434
1,SB23,C00331306,CAN,SPRATT FOR CONGRESS COMMITTEE,PO BOX 830,,YORK,SC,29745,,...,,,,,,,,,A,SB23.435
2,SB23,C00331306,CAN,JO ANN DAVIS FOR CONGRESS,4904B GEORGE WASHINGTON MEM HWY,,YORKTOWN,VA,23692,,...,,,,,,,,,A,SB23.437
3,SB23,C00331306,CAN,NELSON 2000,1915 NORTH 121ST STREET SUITE B,SUITE B,OMAHA,NE,68154,,...,,,,,,,,,A,SB23.436
4,SB23,C00331306,CAN,NETHERCUTT FOR CONGRESS '2000,PO BOX 1925,,SPOKANE,WA,99201,,...,,,,,,,,,A,SB23.439
5,SB23,C00331306,CAN,PERRY^PAUL E,3144 VALLEYBROOK CT,,NEWBURGH,IN,47630,,...,,,,,,,,,A,SB23.438